body {
    margin: 0;
    padding: 0;
    font-family: 'Bellota', cursive;
    font-size: 16px;
    user-select: none;
    background-color: #c8c8c8a0;
    color: #603A40;
}

/* Typography */

h1, h2, nav {
    font-family: 'Meow Script', cursive;
    margin: 0;
}

h1, h2 {
    color: #440D0F;
}

nav {
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

.grow {
    font-size: 20px;
}

.welcome-msg{
    text-align: center;
    background-color: whitesmoke;
    padding: 100px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

/* Links and buttons */

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background: #603A40;
    color: whitesmoke;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn:hover, .btn:focus {
    background-color: #78171A;
    color: whitesmoke;
}

.large-btn {
    width: 100%;
}

.close {
    background-color: #84596B;
    position: absolute;
    left: 10px;
    top: 10px;
}

/* Layout */

.logo {
    height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 20px 0;
    background-color: #84596B;
    box-shadow: 0px 1px 5px #84596B;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.recipe-container {
    /* border: 1px dotted blue; */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 1px 1px 5px #84596B;
    background-color: #AF9BB6;
    border-radius: 10px;
}

.recipe-container h1 {
    text-align: center;
}

.ingredients, .steps {
    width: 100%;
}

ul, ol {
    margin: 15px 0 0 0;
}

ul {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
}

ul li,
ol li {
    border-radius: 10px;
    box-shadow: 1px 1px 5px #440D0F;
    background-color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

ul li {
    padding: 10px 8px;
}

ol {
    box-sizing: border-box;
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol li {
    box-sizing: border-box;
    padding: 10px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.line {
    width: 100%;
    border: 1px solid #84596B;
    opacity: 50%;
}

input, textarea {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Bellota', cursive;
    font-weight: 600;
    color: #603A40;
    background-color: whitesmoke;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 3px;
    width: 100%;
}

.ctd-input, .unit-input {
    width: 60px;
    text-align: center;
}

.ingr-input {
    width: 150px;
}

@media screen and (max-width: 320px){
    .ingr-input {
        width: 110px;
    }
}
.disabled {
    display: none;
}

.new-recipe-input, textarea{
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0 5px 0;
}

textarea {
    resize: none;
    margin: 0;
}

#recipes-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}