* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Bellota", cursive;
    font-size: 1.125rem;
}

h1,
h2,
h3,
p,
nav {
    margin: 0;
}

h1,
h2,
nav {
    font-family: "Meow Script", cursive;
}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 100vh;
    background-color: rgb(250, 233, 233);
}

section {
    display: flex;
    flex: 1;
}

.container {
    flex: 1;
    display: flex;
    padding: 0.5em 1em;
}
